# Rust
/target/
Cargo.lock

# Logs
/logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

output.json
single_output.json
single_rules.json
batch_rules.json
batch_rules_bk.json
mcx_batch_results.json

processed_data_bk/
processed_data_v1/